/.Rhistory
/.gitignore~
/Ac_vs_fishpep_pro.blt
/Ac_vs_fishrRNA.blt
/Ac_vs_nempep_nuc.blt
/Ac_vs_nempep_pro.blt
/Ac_vs_nemrRNA.blt
/Aj_vs_fishrRNA.blt
/Rplots.pdf
/auto/pilot.el
/error.log
/r_env_cache/2.13.0/UNNAMED_CHUNK_2/08ce79ddde33f0c2f702f7ce79d73cbf.RData
/r_env_cache/2.13.0/UNNAMED_CHUNK_2/83124c425435d5b14706743c9a35151d.RData
/weaver_debug_log.txt
/finalize_submission.pl~
